<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
    <span>DESAFIO GOOGLE-MAPS</span>
    <hr>
    <app-favorites>
        <mat-sidenav-container class="example-container" *ngIf="shouldRun">
            <mat-sidenav mode="side" opened>t</mat-sidenav>
            <mat-sidenav-content>Main content</mat-sidenav-content>
        </mat-sidenav-container>

        <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
    </app-favorites>
</mat-toolbar>


<div class="main-container">

    <app-mapa></app-mapa>

</div>